*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


@import url('https://fonts.cdnfonts.com/css/arial-2');
body{
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.box h1{
    color: white;
    text-align: center;

}

.box{
    border-radius: 10px;
    background-color: transparent ;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    padding: 80px;
    padding-right: 60px;
    padding-left: 60px;


}

.box .input{
    padding: 20px;
    
}
.box .input img{
    width: 15px;
    pointer-events: none;
    position: fixed;
    margin-left: -15px;
    
}

.box .input input{
    outline:none ;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    border-color: aliceblue;
    color: aliceblue;
    

}

.box .submit input{
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:  blue;
    cursor: pointer;
    transition:0.5s ease;
    
}
.box .submit{

    text-align: center;    
}

.forgot p{
    color: aliceblue;
    padding: 20px;
    text-align: left;
}
.forgot{
    position: fixed;
    left: 0;
    font-size: 13px;
}
.forgot a{
    color: red;
}
.box .submit input:hover{
    transform: scale(0.92) translatey(-3px);
    color: greenyellow;
}
